page-on-boarding {

 .container{
   width: 100vw;
   height: 100vh;
  overflow: hidden;
   background: url(../../assets/onboarding/onboarding_header.svg),rgb(233, 193, 0);
   background-repeat: no-repeat;
   background-position: 50vw -5vh;
   .welcome {
     display: flex;
     flex-direction: column;
     .title {
      h2 {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 4vw;
        letter-spacing: 5px;
      }
      .image {
        img {
          width: 30vw;
        }
      }
   }

   }
   .details {
     padding: 0px 30px;
    p {
      font-size: 4vw;
      font-family: 'Questrial', sans-serif;
      padding: 30px 0px;
    }

   }
   .buttons {
     background: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    .button {
      margin: 10px auto;
      width: 40vw !important;
      font-family: 'Questrial', sans-serif !important;
      text-transform: capitalize;
    }
   }
     // font-family: 'Josefin Sans', sans-serif;
// font-family: 'Questrial', sans-serif;
// font-family: 'Didact Gothic', sans-serif;
   .location {
     width: 100%;
     height: 50vh;
     h2 {
      font-family: 'Josefin Sans', sans-serif;
      text-transform: uppercase;
      font-weight: bold;
      padding: 10vw 0px;
     }
     p {
       padding: 7vw 2vw;
       font-size: 4vw;
      font-family: 'Questrial', sans-serif;
      margin-left: 25px;
      margin-top: 50px;
      text-align: left;
      line-height: 5vw;;
     }
   }
   .l-buttons {
    height: 50vh;
    background: url(../../assets/onboarding/location.svg);
    background-position:  0px 7vh;
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
    .btn {
      position: absolute;
      width: 100%;
      top: 70%;
      .button {
        background: white;
        color: rgb(30, 30, 30);
        text-transform: capitalize;
        font-family: 'Questrial', sans-serif !important;
      }
    }
   }
   .notification {
    width: 100%;
    height: 50vh;
    h2 {
     font-family: 'Josefin Sans', sans-serif;
     text-transform: uppercase;
     font-weight: bold;
     padding: 10vw 0px;
    }
    p {
      padding: 7vw 2vw;
      font-size: 4vw;
     font-family: 'Questrial', sans-serif;
     margin-left: 25px;
     margin-top: 50px;
     text-align: left;
     line-height: 5vw;;
    }
  }
  .n-buttons {
   height: 50vh;
   background: url(../../assets/onboarding/notifications.svg);
   background-position:  0px 7vh;
   background-repeat: no-repeat;
   background-size: 100% auto;
   position: relative;
   .btn {
     position: absolute;
     width: 100%;
     top: 70%;
     .button {
       background: white;
       color: rgb(30, 30, 30);
       text-transform: capitalize;
       font-family: 'Questrial', sans-serif !important;
     }
   }
  }
  .reviews {
    width: 100%;
    height: 50vh;
    h2 {
     font-family: 'Josefin Sans', sans-serif;
     text-transform: uppercase;
     font-weight: bold;
     padding: 10vw 0px;
    }
    p {
      padding: 7vw 2vw;
      font-size: 4vw;
     font-family: 'Questrial', sans-serif;
     margin-left: 25px;
     margin-top: 50px;
     text-align: left;
     line-height: 5vw;;
    }
  }
  .r-buttons {
   height: 50vh;
   background: url(../../assets/onboarding/ratings.svg);
   background-position:  50% 0vh;
   background-repeat: no-repeat;
   background-size: 50% auto;
   position: relative;
   .btn {
     position: absolute;
     width: 100%;
     top: 70%;
     .button {
       background: white;
       color: rgb(30, 30, 30);
       text-transform: capitalize;
       font-family: 'Questrial', sans-serif !important;
     }
   }
  }
  .all-set {
    width: 100%;
    height: 50vh;
    h2 {
     font-family: 'Josefin Sans', sans-serif;
     text-transform: uppercase;
     font-weight: bold;
     padding: 10vw 0px;
    }
    p {
      padding: 7vw 2vw;
      font-size: 4vw;
     font-family: 'Questrial', sans-serif;
     margin-left: 25px;
     margin-top: 50px;
     text-align: left;
     line-height: 5vw;;
    }
  }
  .set-buttons {
   height: 50vh;
   background: url(../../assets/onboarding/allset.svg);
   background-position:  50% 0vh;
   background-repeat: no-repeat;
   background-size: 100% auto;
   position: relative;
   .btn {
     position: absolute;
     width: 100%;
     top: 50%;
     #signup {
      color: rgb(233, 193, 0);
     }

     #signin {
       background: rgb(233, 193, 0);
     }
     .button {
       width: 70vw;
       color: rgb(30, 30, 30);
       text-transform: capitalize;
       font-family: 'Questrial', sans-serif !important;
     }
   }
  }
 }
}
