page-on-boarding {
  .swiper-pagination-bullet-active //it will change the color of active slider dot
  {
      background-color: #2A324B;  //write your desired color here
  }
  .container {
      position: absolute;
      text-align: center;
      margin: auto;
      left: 0vw;
      right: 0vw;
      bottom: 0;
      top: 20vh;
  }
  .container .text {
      height: 40%;
      p {
        margin: 15vw 4vw;
        font-size: 5vw;
      }
  }
  .container .buttons {
      height: 40%;
      position: relative;

  }
  .container .buttons .bn {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      /* top: 0; */
  }
  .buttons .bn button {
      outline: none;
      background: rgb(3, 7, 39);
      color: rgb(255, 255, 255);
      border: none;
      width: 50%;
      margin: 10px 0px;
      padding: 10px 0px;
      border-radius: 200px;
  }
  .header {
      background: url(../../assets/onboarding/header.svg);
      width: 100%;
      height: 20vh;
      background-repeat: repeat no-repeat;
      background-size: 100%;
  }
  .bg {
      width: 100%;
      height: 80vh;
      background: url(../../assets/onboarding/welcome.svg);
      background-size: 100% 110%;
      background-repeat: no-repeat;
  }
  body {
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container1 {
    position: absolute;
    text-align: center;
    margin: auto;
    left: 5vw;
    right: 5vw;
    bottom: 0;
    top: 20vh;
    .text {
        height: 50%;
    }
    .buttons {
        height: 40%;
        position: relative;
        .bn {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            /* top: 0; */
            button {
                outline: none;
                background: rgb(3, 7, 39);
                color: rgb(255, 255, 255);
                border: none;
                width: 50%;
                margin: 10px 0px;
                padding: 10px 0px;
                border-radius: 200px;
            }
        }

    }
}
.header1 {
    background: url(../../assets/onboarding/header.svg);
    width: 100%;
    height: 20vh;
    background-repeat: repeat no-repeat;
    background-size: 100%;
}
.bg1 {
    width: 100%;
    height: 80vh;
    background: url(../../assets/onboarding/location.svg);
    background-size: 100% 150%;
    background-repeat: no-repeat;
}

.container2 {
  position: absolute;
  text-align: center;
  margin: auto;
  left: 5vw;
  right: 5vw;
  bottom: 0;
  top: 20vh;
}
.container2 .text2 {
  height: 50%;
}
.container2 .buttons2 {
  height: 40%;
  position: relative;

}
.container2 .buttons2 .bn2 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  /* top: 0; */
}
.buttons2 .bn2 button {
  outline: none;
  background: rgb(3, 7, 39);
  color: rgb(255, 255, 255);
  border: none;
  width: 50%;
  margin: 10px 0px;
  padding: 10px 0px;
  border-radius: 200px;
}
.header2 {
  background: url(../../assets/onboarding/header.svg);
  width: 100%;
  height: 20vh;
  background-repeat: repeat no-repeat;
  background-size: 100%;
}
.bg2 {
  width: 100%;
  height: 80vh;
  background: url(../../assets/onboarding/notifications.svg);
  background-size: 100% 100%;
  background-position: 0vh 17vh;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  overflow: visible;
}
.container3 {
  position: absolute;
  text-align: center;
  margin: auto;
  left: 5vw;
  right: 5vw;
  bottom: 0;
  top: 20vh;
}
.container3 .text3 {
  height: 50%;
}
.container3 .buttons3 {
  height: 40%;
  position: relative;

}
.container3 .buttons3 .bn3 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  /* top: 0; */
}
.buttons3 .bn3 button {
  outline: none;
  background: rgb(3, 7, 39);
  color: rgb(255, 255, 255);
  border: none;
  width: 50%;
  margin: 10px 0px;
  padding: 10px 0px;
  border-radius: 200px;
}
.header3 {
  background: url(../../assets/onboarding/header.svg);
  width: 100%;
  height: 20vh;
  background-repeat: repeat no-repeat;
  background-size: 100%;
}
.bg3 {
  width: 100%;
  height: 80vh;
  background: url(../../assets/onboarding/ratings.svg);
  background-size: 100% 100%;
  background-position: 0vh 15vh;
  background-repeat: no-repeat;
}
.container4 {
  position: absolute;
  text-align: center;
  margin: auto;
  left: 5vw;
  right: 5vw;
  bottom: 0;
  top: 20vh;
}
.container4 .text4 {
  height: 50%;
}
.container4 .buttons4 {
  height: 40%;
  position: relative;

}
.container4 .buttons4 .bn4 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  /* top: 0; */
}
.buttons4 .bn4 button {
  outline: none;
  background: rgb(3, 7, 39);
  color: rgb(255, 255, 255);
  border: none;
  width: 50%;
  margin: 10px 0px;
  padding: 10px 0px;
  border-radius: 200px;
}
.header4 {
  background: url(../../assets/onboarding/header.svg);
  width: 100%;
  height: 20vh;
  background-repeat: repeat no-repeat;
  background-size: 100%;
  h1 {
    margin: 0;
    padding: 10px;
  }
}
.bg4 {
  width: 100%;
  height: 80vh;
  background: url(../../assets/onboarding/allset.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 0vh 15vh;
}
}
