<ion-content (click)="checkKeyboard()" class="no-scroll">

  <div *ngIf="!isKeyOpen" class="logo">
      <h1>SIGN IN</h1>
      <img src="../../assets/tapes/stepdrive_dark_logo.svg" alt="">
    </div>
<div class="container">

  <div class="form">

    <div>
        <form  [formGroup]="loginForm" class="login">
        <div class="input">
          <p>Email</p>
          <input type="email" formControlName="email" [(ngModel)]="user.email">
        </div>
      <div class="error" *ngFor="let validate of validation_messages.email">
          <div class="messages" *ngIf="loginForm.get('email').hasError(validate.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
            {{validate.message}}
          </div>
        </div>
        <div class="input">
            <p>Password</p>
            <input type="email" type="password" formControlName="password" [(ngModel)]="user.password">
          </div>
          <div class="error" *ngFor="let validate of validation_messages.password">
              <div class="messages" *ngIf="loginForm.get('password').hasError(validate.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                {{validate.message}}
              </div>
            </div>
            <div class="forgot" >
                <button (click)="forget()">Forgot Password?</button>
            </div>

<br>

          <div class="button">
            <button (click) ="login(user)">SIGN IN</button>
            <button id="signup" (click)="Reg()">SIGN Up</button>
          </div>

        </form>
    </div>
  </div>
</div>
</ion-content>
