<ion-content (click)="checkKeyboard()" class="no-scroll">
  <div *ngIf="!isKeyOpen" class="logo">
      <h1>SIGN UP</h1>
      <img src="../../assets/tapes/STEPDRIVE-YELLOW-LOGO.svg" alt="">
    </div>
<div class="container">
  <div class="form">

    <div>

      <form  [formGroup]="loginForm" class="login">

      <div class="input">
        <p>Email</p>
        <input type="email" formControlName="email" [(ngModel)]="user.email">
      </div>

      <div class="error" *ngFor="let validate of validation_messages.email">
        <div class="messages" *ngIf="loginForm.get('email').hasError(validate.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
          {{validate.message}}
        </div>
      </div>


      <div class="input">
        <p>Password</p>
        <input type="password" type="password" formControlName="password" [(ngModel)]="user.password">
      </div>

      <div class="error" *ngFor="let validate of validation_messages.password">
        <div class="messages" *ngIf="loginForm.get('password').hasError(validate.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
          {{validate.message}}
        </div>
      </div>

      </form>


      <div  class="forgot">

      </div>

      <div class="button">
        <button (click)="createRegister(user)">SIGN UP</button>
        <button id="signup" (click)="goToLogin()">SIGN IN</button>
      </div>

    </div>
  </div>
</div>
</ion-content>
