<ion-content>


  <div [ngClass]="{'welcome': landing, 'welcome-inactive': !landing}">
    <div class="instructions">
      <div class="icon">
          <p id="inst">How should I use this Practice Test ?</p>
      </div>
      <div class="details">
        <h4>Practice Test 101</h4>
        <ul>
          <li>Each question has multiple answers, <u>tap the correct one.</u></li>
          <li>In cases where more than one answer seems correct, select the <u>most correct one.</u></li>
          <li>Each session consists of 5 Questions.</li>
          <li>You will get your score after the 5th question is answered.</li>
          <li>Each session returns differet questions. <u>You will not get the same questions everytime.</u></li>
        </ul>
      </div>
    </div>
    <div class="head">
        <img  id="bg" src="../../assets/imgs/header.svg" alt="">
    </div>
    <div class="butt">
      <div>
          <img src="../../assets/imgs/whitelogo.svg">
          <h4>Recap Quiz</h4>
          <div class="category-cont">
            <div (click)="sendQs('lmv', $event)" class="lmv"> <p>Code 08</p></div>
            <div (click)="sendQs('hmv', $event)" class="hmv"><p>Code 10</p></div>
            <div (click)="sendQs('m', $event)" class="m"> <p>Code 01</p></div>
            <div (click)="sendQs('tmv', $event)" class="tmv"> <p>Code 14</p></div>
          </div>
          <button id="cancel" (click)="cancel()">Quit</button>
      </div>
    </div>
    <div class="foot">
        <img  id="bg" src="../../assets/imgs/header.svg" alt="">
    </div>
  </div>
  <div class="header">

    <img  id="bg" src="../../assets/imgs/header.svg" alt="">
  </div>
  <div class="container">
    <form>
      <ion-slides #slide>
          <ion-slide  *ngFor="let q of questions; let i = index">
            <h5> {{i+1}}. {{q.question}}</h5>
            <div *ngFor="let s of q.suggestions; let f = index">
              <p  style="padding: 5px 30px; font-size: 4vw; text-align: left;">{{f+1}}. {{s}}</p>
            </div>
            <img src="{{q.image}}">
            <ion-list >
                <ion-item *ngFor="let o of q.options"  >
                    <ion-label style="font-size: 3vw;">{{o.option}}</ion-label>
                      <ion-radio (click)="checkAnswer(o.correct)" ></ion-radio>
                </ion-item>
            </ion-list>
          </ion-slide>
        </ion-slides>
    </form>
  </div>
  <div class="footer">
    <img  id="bg" src="../../assets/imgs/header.svg" alt="">
</div>
</ion-content>


