page-contact {
  @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
      .no-scroll .scroll-content{
          overflow: hidden;
      }
      .loader {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 20000;
        background: linear-gradient(#242424e1),url(../../assets/tutvid/pattern.svg);
        background-repeat: repeat-x;
        background-size: cover;
        transform: scale(1);
        overflow: hidden;
        transition: 0.4s;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        animation: backgroundmover 30s linear infinite;;
        color: white;;
        .maploader {

          // overflow: hidden;
          width: 64px;
          height: 64px;
          margin: 40vh auto;
          text-align: center;
          // animation: name duration timing-function delay iteration-count direction fill-mode;
          // animation: maploader 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
          border-radius: 200px;
          display: grid;
          align-content: center;
          position: relative;
          // border-top: solid 2px gray;
          .lds-grid {
            display: inline-block;
            position: relative;
            width: 64px;
            height: 64px;
          }
          .lds-grid div {
            position: absolute;
            width: 13px;
            height: 13px;
            border-radius: 50%;
            background: rgb(255, 255, 255);
            animation: lds-grid 1.2s linear infinite;
          }
          .lds-grid div:nth-child(1) {
            top: 6px;
            left: 6px;
            animation-delay: 0s;
          }
          .lds-grid div:nth-child(2) {
            top: 6px;
            left: 26px;
            animation-delay: -0.4s;
          }
          .lds-grid div:nth-child(3) {
            top: 6px;
            left: 45px;
            animation-delay: -0.8s;
          }
          .lds-grid div:nth-child(4) {
            top: 26px;
            left: 6px;
            animation-delay: -0.4s;
          }
          .lds-grid div:nth-child(5) {
            top: 26px;
            left: 26px;
            animation-delay: -0.8s;
          }
          .lds-grid div:nth-child(6) {
            top: 26px;
            left: 45px;
            animation-delay: -1.2s;
          }
          .lds-grid div:nth-child(7) {
            top: 45px;
            left: 6px;
            animation-delay: -0.8s;
          }
          .lds-grid div:nth-child(8) {
            top: 45px;
            left: 26px;
            animation-delay: -1.2s;
          }
          .lds-grid div:nth-child(9) {
            top: 45px;
            left: 45px;
            animation-delay: -1.6s;
          }
          @keyframes lds-grid {
            0%, 100% {
              opacity: 1;
            }
            50% {
              opacity: 0.5;
            }
          }

        }
      }
      @keyframes backgroundmover {
        0% {
          background-position-x: 0vw;
        }
        100% {
          background-position-x: 400vw;
        }
      }
      .loader-hide {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 2000;
        background: rgb(255, 255, 255);
        transform: scale(0);
        overflow: hidden;
        transition: 0.4s;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        .maploader {

          overflow: hidden;
          width: 64px;
          height: 64px;
          margin: 40vh auto;
          text-align: center;
          // animation: name duration timing-function delay iteration-count direction fill-mode;
          animation: maploader 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
          border-radius: 200px;
          display: grid;
          align-content: center;
          position: relative;
          border-top: solid 2px gray;
          .lds-grid {
            display: inline-block;
            position: relative;
            width: 64px;
            height: 64px;
          }
          .lds-grid div {
            position: absolute;
            width: 13px;
            height: 13px;
            border-radius: 50%;
            background: #fff;
            animation: lds-grid 1.2s linear infinite;
          }
          .lds-grid div:nth-child(1) {
            top: 6px;
            left: 6px;
            animation-delay: 0s;
          }
          .lds-grid div:nth-child(2) {
            top: 6px;
            left: 26px;
            animation-delay: -0.4s;
          }
          .lds-grid div:nth-child(3) {
            top: 6px;
            left: 45px;
            animation-delay: -0.8s;
          }
          .lds-grid div:nth-child(4) {
            top: 26px;
            left: 6px;
            animation-delay: -0.4s;
          }
          .lds-grid div:nth-child(5) {
            top: 26px;
            left: 26px;
            animation-delay: -0.8s;
          }
          .lds-grid div:nth-child(6) {
            top: 26px;
            left: 45px;
            animation-delay: -1.2s;
          }
          .lds-grid div:nth-child(7) {
            top: 45px;
            left: 6px;
            animation-delay: -0.8s;
          }
          .lds-grid div:nth-child(8) {
            top: 45px;
            left: 26px;
            animation-delay: -1.2s;
          }
          .lds-grid div:nth-child(9) {
            top: 45px;
            left: 45px;
            animation-delay: -1.6s;
          }
          @keyframes lds-grid {
            0%, 100% {
              opacity: 1;
            }
            50% {
              opacity: 0.5;
            }
          }

        }
      }
      .cancel {
        position: fixed;
        z-index: 30;
        overflow: hidden;
        border-radius: 200px;
        // width: ;
        text-align: center;
        top: 5px;
        left: 5px;
        button{
          width: 40px;
          height: 40px;
          display: grid;
          align-content: center;
          background: #B6465F;
          margin: auto;
          color: white;
          padding: 0;

        }
      }
      .map {
        transition: 0.4s;
        position: absolute;
        z-index: 10;
        background: rgb(218, 218, 218);
        top: 0%;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 40;
        // transform: rotateX(90deg);
      }
      .map-hide {
        transition: 0.4s;
        position: absolute;
        z-index: 40;
        background: rgb(218, 218, 218);
        top: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        // transform: rotateX(90deg);
      }
      .done {
        transition: 0.4s;
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        z-index: 45;
        text-align: center;
        button{
          width: 60%;
          background: linear-gradient(#767B91, #2E354E);
          padding: 10px;
          border-radius: 200px;
          color: white;
          text-shadow: 0px 0px 3px #171717;
        }
      }
      .done-hide {
        transition: 0.4s;
        position: absolute;
        bottom: -100px;
        left: 0;
        right: 0;
        z-index: 45;
        text-align: center;
        button{
          width: 60%;
          background: linear-gradient(#767B91, #2E354E);
          padding: 10px;
          border-radius: 200px;
          color: white;
          text-shadow: 0px 0px 3px #171717;
        }
      }
      .logo{
        position: absolute;
        // left: 40vw;
        top: 10px;
        right: 35vw;
        height: 30vw;
        width: 30vw;
        margin: auto;
        text-align: center;
        border-radius: 200px;
        overflow: hidden;
        img{
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      .container {
        display: grid;
        align-content: center;
          width: 100%;
          height:100%;
          background:url(../../assets/tapes/footer_tape.svg),rgb(24, 24, 24);
          background-attachment: fixed;
          background-size: cover;
          background-size: 150% 100%;
     background-position: 30vw -30vh;
          // background-position: center;
          background-repeat: no-repeat;

        .form{
          // width: 100%;
          padding: 10% 5%;
          filter: blur(0px);
          background:none;
          background-attachment: fixed;
          background-position: center;
          background-size: cover;
          color: white;
          text-align: center;
          position: relative;
          // display: grid;
          transform: translateY(-27vh);
          margin-top: 50vh;
          align-content: center;
          .inputReg{
              text-align: center;
              width: 100%;
              position: relative;
              margin: 20px 0px;
              p{
                  font-size: 100%;
                  background: #FED201;
                  color: #4C0A0A;
                  width: 45%;
                  padding: 2px;
                  border-radius: 200px;
                  position: absolute;
                  top: -9px;
                  left: 20px;
                  margin: 0;
                }

                input{
                  width: 97%;
                  padding: 15px 5px;
                  border: none;
                  border: solid 1px #FED201 !important;
                  background: rgb(26, 26, 26);
                  color: #FED201 !important;
                  border-radius: 200px;
                  span {
                    color: #FED201 !important;
                  }
                  .datetime {
                    background: #171717;
                  }
                }
          }
          .input{
            text-align: center;
            width: 100%;
            position: relative;
            margin: 20px 0px;
            .datetime {
              border: solid 1px #FED201 !important;
              color: #FED201 !important;
              background: #171717;
            }
            p{
              font-size: 80%;
              background: #FED201;
              color: rgb(31, 31, 31);
              width: 25%;
              padding: 2px;
              border-radius: 200px;
              position: absolute;
              top: -9px;
              left: 20px;
              margin: 0;
            }
            input{
              width: 97%;
              padding: 15px 5px;
              border: none;
              border: solid 1px #FED201;
              color: #FED201;
              border-radius: 200px;
              background: rgb(26, 26, 26);
            }
            span {
              a {
                color: orange;
              }
            }
          }
          .forgot{
            text-align: right;
            width: 100%;
            margin-top: -2%;
            button{
              background: white;
              color:  #4C0A0A;
              font-size: 80%;
              padding: 5px;
              border-radius: 200px;
              margin: 0;
            }
          }
          .button{
            text-align: center;
            position: absolute;
            bottom: -20px;
            right: 0px;
            left:  0px;
            overflow: hidden;
            button{
              text-shadow: 0px 2px 2px #1717174f;
              text-transform: uppercase;
              letter-spacing: 3px;
              color:#1a1a1a;
              border-radius: 30px;
              margin: 0;
              padding: 15px;
              background: #FED201;
              width: 60%;
            }
          }
        }
      }

}
