<ion-content (click)="checkKeyBoard()">

  <div class="viewImage">
    <div (click)="openImage('', 'close')" class="close"><p>x</p></div>
    <img *ngIf="viewImage.image" src="{{viewImage.image}}" alt="">
    <img *ngIf="!viewImage.image" src="https://icon-library.net/images/image-placeholder-icon/image-placeholder-icon-3.jpg" alt="">

  </div>

  <div [ngClass]="{'loader': loaderAnimate, 'loader-hide': !loaderAnimate}">
      <!-- <div class="loader"> -->
    <div class="maploader">
        <div class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <p><strong>Mapping</strong> Driving Schools</p>
    </div>
    <div class="loading-text">

    </div>
  </div>
    <div class="pac-card" id="pac-card">

        <!-- <div [ngClass]="{'pac-card': display, 'pac-card-hide': !display}" id="pac-card"> -->
        <div id="pac-container">
            <button (click)="requestPrompt()" ion-fab mini><ion-icon name="locate"></ion-icon></button>
          <ion-searchbar placeholder="Search by location" >
              <!-- (ionInput)="onSearchChange($event)" -->
          </ion-searchbar>
        </div>
        <div class="searchresult">
          <div class="res"  *ngFor="let u of users">
            <!-- <p>{{u.schoolname}}</p> -->
          </div>
        </div>
      </div>

      <div #map id="map"></div>

    <div class="aboutschool" [ngClass]="{'aboutschool-inactive': about, 'aboutschool': !about}">
      <div class="s-readmore">
          <div class="round">
              <div id="cta">
                  <span class="arrow primera next "></span>
                  <span class="arrow segunda next "></span>
              </div>
          </div>
      </div>
      <div [ngClass]="{'reviews': toggleReviews, 'reviews-inactive': !toggleReviews}">
        <h4>Reviews</h4>
        <div class="r-list-cont">
            <div style="text-align: center; width: 90%; margin: auto;" *ngIf="!userReviews[0]">
                <p>No reviews made yet.</p>
                <!-- <p><b>A day after your lesson, click on the blue button to make a review.</b></p> -->
              </div>
            <div class="r-card" *ngFor="let r of userReviews">
                <ionic3-star-rating #rating
                activeIcon = "ios-star"
                defaultIcon = "ios-star-outline"
                activeColor = "#FAB62B"
                defaultColor = "#FAB62B"
                readonly = "true"
                rating = "{{r.rating}}"
                fontSize = "7px"
                (ratingChanged)="logRatingChange($event)">
                </ionic3-star-rating>
              <div class="r-image">
                <img src="{{r.image}}" alt="">
              </div>
              <div class="r-content">
                <div class="name-rating">
          <p id="name"><b>{{r.username}}</b></p>
                </div>

                <p>{{r.text}}</p>
              </div>
            </div>
        </div>
        <div class="toggle" (click)="reviewsToggler()">
          <p>close</p>
        </div>
        <button ion-button >Send Review</button>
      </div>
    
        <div id="infor" class="information" >
          <div class="s-image">
            <div class="a-back">
              <button style="background: none !important;" ion-fab mini (click)="viewSchool(school)" ><ion-icon name="arrow-back"></ion-icon></button>
            </div>
            <div class="a-reviews">
              <button style="background: none !important;" ion-fab mini (click)="reviewsToggler()" ><ion-icon name="chatbubbles"></ion-icon></button>
            </div>
            <img *ngIf="school.image" src="{{school.image}}">
            <img *ngIf="!school.image" src="https://icon-library.net/images/image-placeholder-icon/image-placeholder-icon-3.jpg" alt="">
          </div>
          <h1 *ngIf="school.schoolname">{{school.schoolname}}</h1>
          <p>{{school.desc}}
              </p>
              <p>{{school.address}}</p>
              <ionic3-star-rating #rating
        activeIcon = "ios-star"
        defaultIcon = "ios-star-outline"
        activeColor = "#FEFFF3"
        defaultColor = "#FEFFF3"
        readonly = "true"
        rating = "{{school.average}}"
        fontSize = "15px">
    </ionic3-star-rating>

        </div>
        <ion-segment [(ngModel)]="licenseCode" color="primary" (ionChange)="segmentChanged($event)">
            <ion-segment-button value="code01">
                code 01
              </ion-segment-button>
          <ion-segment-button value="code08">
            code 08
          </ion-segment-button>
          <ion-segment-button value="code10">
            code 10
          </ion-segment-button>
          <ion-segment-button value="code14">
            code 14
          </ion-segment-button>

        </ion-segment>
        <div class="lesson-cont">
          <!-- CODE 01 -->
          <div class="code01">
              <p *ngIf="code01packs.length==0" id="nopacks" >This Driving School does not provide code 01 lessons.</p>
              <div class="lesson" *ngFor="let pack of code01packs" (click)="requestLesson(school, pack, $event, 'Package')">
                <h4>{{pack.name}}</h4>
                <p >Costs R{{pack.cost}}.00 <br> includes {{pack.number}} lessons</p>
              </div>
            </div>
          <!-- CODE O8 -->
            <div class="code08">
                <p *ngIf="code08packs.length==0" id="nopacks">This Driving School does not provide code 08 lessons.</p>
              <div class="lesson" *ngFor="let pack of code08packs" (click)="requestLesson(school, pack, $event, 'Package')">

                  <h3>{{pack.name}}</h3>
                  <p >Costs R{{pack.cost}}.00 <br> includes {{pack.number}} lessons</p>
              </div>
            </div>
            <!-- CODE 10 -->
            <div class="code10">
                <p *ngIf="code10packs.length==0" id="nopacks">This Driving School does not provide code 10 lessons.</p>
              <div class="lesson" *ngFor="let pack of code10packs" (click)="requestLesson(school, pack, $event, 'Package')">
                  <h3>{{pack.name}}</h3>
                  <p >Costs R{{pack.cost}}.00 <br> includes {{pack.number}} lessons</p>
              </div>
            </div>
            <!-- CODE 14 -->
            <div class="code14">
                <p *ngIf="code14packs.length==0" id="nopacks">This Driving School does not provide code 14 lessons.</p>
              <div class="lesson" *ngFor="let pack of code14packs" (click)="requestLesson(school, pack, $event, 'Package')">
                <h3>{{pack.name}} </h3>
                <p >Costs R{{pack.cost}}.00 <br> includes {{pack.number}} lessons</p>
              </div>
            </div>

            <div class="custom">
                        <div class="input">
                           <div> <p>Custom Lessons <br> R{{school.cost}}.00 p/l</p>
                            <!-- <input type="tel" [(ngModel)]="noLessons"> -->
                            <ion-label>{{licenseCode}}</ion-label>
                            <ion-select style="background: rgba(255, 255, 255, 0) !important; margin-right: 0 !important;"[(ngModel)]="noLessons">
                              <ion-option >1</ion-option>
                              <ion-option >2</ion-option>
                              <ion-option >3</ion-option>
                              <ion-option >4</ion-option>
                              <ion-option >5</ion-option>
                              <ion-option >6</ion-option>
                              <ion-option >7</ion-option>
                              <ion-option >8</ion-option>
                              <ion-option >9</ion-option>
                              <ion-option >10</ion-option>
                              <ion-option >11</ion-option>
                              <ion-option >12</ion-option>
                              <ion-option >13</ion-option>
                              <ion-option >14</ion-option>
                              <ion-option >15</ion-option>
                              <ion-option >16</ion-option>
                              <ion-option >17</ion-option>
                              <ion-option >18</ion-option>
                              <ion-option >19</ion-option>
                              <ion-option >20</ion-option>
                            </ion-select>
                          </div>
                          </div>
                          <div class="r-bbutton">
                              <button [disabled]="!noLessons" (click)="requestLesson(school, noLessons, $event, 'Custom')">Request lesson</button>
                          </div>
            </div>
        </div>
      </div>
  <div class="container">
      <div #list  [ngClass]="{'list': display==true, 'listinactive': display==false}">
          <div (click)="swipeUp()" class="toggler">
              <ion-icon *ngIf="display" class="arrow" name="arrow-dropdown"></ion-icon>
              <ion-icon *ngIf="!display" class="arrow" name="arrow-dropup"></ion-icon>
          </div>
          <div class="s-list">
            <div *ngIf="!users[0]" class="noschools">
              <p>No driving schools in this area.</p>
            </div>
<!-- //this is your orginal code -->
            <div  class="card" *ngFor="let u of users" >
              <div (click)="openImage(u.image, 'open')" class="image">
                <img *ngIf="u.image" src="{{u.image}}" alt="">
                <img *ngIf="!u.image" src="https://firebasestorage.googleapis.com/v0/b/instructor-f2be7.appspot.com/o/1.png?alt=media&token=c7672e9e-be23-4992-9ab7-b16b0594a0f8" alt="">
              </div>
              <div class="details" (click)="viewSchool(u)">
                <p id="s-name"><b> {{u.schoolname}} </b></p>
                <p id="addr">{{u.address}}</p>
              </div>
              <div class="call">
                <button ion-fab mini (click)="call(u)" style="background: #a4c639"><ion-icon name="call" ></ion-icon></button>
              </div>
            </div>


          </div>
        </div>
        <div #map id="map"></div>

</div>

</ion-content>
