page-question1 {
  .contain {
    width: 100%;
    height: 100vh;
    overflow: hidden !important;
    background:url(../../assets/tapes/footer_tape.svg),rgb(255, 196, 0);
    background-position: center;
    background-size: cover;
          background-size: auto 100%;
     background-position: 20vw -20vh;
    background-repeat: no-repeat;
    .head {
      width: 100%;
      height: 20%;
      display: grid;
      align-content: center;
      text-align: center;
      color: white;
      h1 {
        margin: 0;
        padding: 5px;
        font-size: 6vw;
        text-transform: uppercase;
        background: rgb(32, 32, 32);
        border-bottom: dashed 1px rgb(255, 174, 0);
        border-top: dashed 1px rgb(255, 174, 0);
        // line-height: 20px;
      }
    }
    .imag {
      width: 100%;
      height: 60%;
      display: grid;
      align-items: center;
      text-align: center;
      color: rgb(20, 20, 20);
      img {
        margin: 0 auto;
        width: 40vw;
      }
      h2 {
        font-size: 4vw;
        text-transform: uppercase;
      }
      p {
        font-size: 3.5vw;
        padding: 0px 20px;
      }
    }
    .butt {
      width: 100%;
      height: 10%;
      display: grid;
      align-items: center;
      text-align: center;
      color: white;
      button{
        text-shadow: 0px 2px 2px #1717174f;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 3vw;
        color:#171717;
        border-radius: 30px;
        margin: 0 auto;
        padding: 4vw;
        background: linear-gradient(rgb(255, 255, 255));
        width: 60%;
      }
    }
  }
}
